/lumen-api/vendor/
/lumen-api/node_modules/
/lumen-api/npm-debug.log
yarn-error.log

# Laravel 4 specific
/lumen-api/bootstrap/compiled.php
/lumen-api/app/storage/

# Laravel 5 & Lumen specific
/lumen-api/public/storage
/lumen-api/public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

lumen-api/storage/*.key
lumen-api/.env
lumen-api/Homestead.yaml
lumen-api/Homestead.json
/.vagrant
.phpunit.result.cache

/public/build
/storage/pail
.env.backup
.env.production
.phpactor.json
auth.json
